*, *::before, *::after{
	box-sizing: border-box;
	margin:0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: #fff9de;
}

.game-container{
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
	margin-top:25px;
  height: 600px;
  width: 600px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

h1, p {
	text-transform: uppercase;
	color:darkslategrey;
}


/* Card Styles */
.card {
  border:2px solid darkslategrey;
}

.card:hover{
	border: 2px solid #ff6680;
}

[data-cardNumber="card1"] {
  background-color: #ffd4dc;
}

[data-cardNumber="card2"] {
  background-color: #fff6a9;
}

[data-cardNumber="card3"] {
  background-color: #ffd289;
}

[data-cardNumber="card4"] {
  background-color: #ff7d7d;
}

[data-cardNumber="card5"] {
  background-color: #ff87f5;
}
[data-cardNumber="card6"] {
  background-color: #6565f0;
}
[data-cardNumber="card7"] {
  background-color: #a9f2c1;
}
[data-cardNumber="card8"] {
  background-color: rgb(164, 255, 255);
}

/* Hide content by default */
[data-hidden="true"]{
	background:repeating-linear-gradient(transparent 0 20%,darkslategrey 0 30%)
}

[data-hidden="true"]:hover{
	background:repeating-linear-gradient(transparent 0 20%,#ff6680 0 30%)
}

/* Reset Button */
.reset-button{
	padding:10px;
	border:none;
	margin:10px;
	border-radius: 5px;
	background-color:darkslategray;
	color:white;
}
.reset-button:active{
	transform: scale(.95);
	background-color: #ff6680;
}
.reset-button:hover{
	transform: scale(.95);
	background-color: #ff6680;
}


/* Media Queries */
@media screen and (max-width :850px) {
	.game-container{
		transform: scale(.8);
	}	
}

@media screen and (max-width :500px) {
	.game-container{
		transform: scale(.5);
	}	
}